@font-face {
	font-family: 'Big Noodle Too';
  src: url('assets/bignoodletoo.ttf'); /* IE9 Compat Modes */
  src: url('assets/bignoodletoo.ttf') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/bignoodletoo.ttf') format('woff2'), /* Super Modern Browsers */
       url('assets/bignoodletoo.ttf') format('woff'), /* Pretty Modern Browsers */
       url('assets/bignoodletoo.ttf') format('truetype'), /* Safari, Android, iOS */
}

body {
	font-family: "Big Noodle Too";
	background: #2C2F33;
	color: white;
}

.link {
	text-decoration: none;
	color: #7289DA;
	text-shadow: 1.5px 1.5px white;
}

.bar-item {
	display: unset;
}

.right-header {
	font-size: 50px;
	margin-left: 10px;
}

div.header {
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

img.header {
	width: 100px;
	float: left;
}

.letter-space {
	letter-spacing: 16px;
}

.table-title {
	font-size: 35px;
	text-shadow: 1.5px 1.5px black;
}

.tables {
	margin-left: 160px;
	margin-bottom: 275px;
}

.space {
	float: center;
}

.features {
	float: center;
}

.table {
	background-color: RGBA(255, 154, 54, 1);
	padding: 12px 12px;
	border-radius: 10px;
	font-size: 30px;
	max-width: 310px;
	float: left;
	margin-top: 50px;
	margin-left: 50px;
}

h1 {
    font-family: "Big Noodle Too";
    letter-spacing: 2px;
}

h1.left {
    color: white;
}

h1.right {
    color: black;
}

p {
    font-size: 30px;
		color: black;
}

div.left {
    display: block;
    text-align: left;
    margin-left: 50px;
    background: #FA9C1D;
    padding: 2px 50px;
    transition-duration: .3s;
}

div.right {
    display: block;
    text-align: right;
    margin-right: 50px;
    background: white;
    padding:  2px 50px;
    transition-duration: .3s;
}

div.right:hover, div.left:hover {
    padding: 10px 200px;
}
