@font-face {
	font-family: 'Big Noodle Too';
  src: url('bignoodletoo.ttf'); /* IE9 Compat Modes */
  src: url('bignoodletoo.ttf') format('embedded-opentype'), /* IE6-IE8 */
       url('bignoodletoo.ttf') format('woff2'), /* Super Modern Browsers */
       url('bignoodletoo.ttf') format('woff'), /* Pretty Modern Browsers */
       url('bignoodletoo.ttf') format('truetype'), /* Safari, Android, iOS */
}

body {
	font-family: "Big Noodle Too";
	background: #2C2F33;
	color: white;
}

.link {
	text-decoration: none;
	color: #7289DA;
	text-shadow: 1.5px 1.5px white;
}

.right-header {
	font-size: 50px;
	margin-left: 10px;
}

div.header {
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;

}

img.header {
	width: 100px;
	float: left;

}

.letter-space {
	letter-spacing: 16px;
}

.table-title {
	font-size: 35px;
	text-shadow: 1.5px 1.5px white;
}

strong {
	text-shadow: 1.5px 1.5px white;
}

.tables {
	text-align: center;
	margin-top: 50px;
}

.table {
	background-color: RGB(255, 154, 54);
	padding: 12px 12px;
	border-radius: 10px;
	margin-bottom: 50px;
	font-size: 30px;
	max-height: 200px;
	max-width: 300px;
	display: inline-block;
	margin-right: 25px;
	margin-left: 25px;
	color: black;
}

.table-info {
	text-decoration: none;
	color: #2C2F33;
	transition-duration: .3s;
	font-size: 27px;
}

.table-info:hover {
	color: RGB(255, 154, 54);
	background-color: white;
	border-radius: 10px;
	font-size: 30px;
	padding: 3px 8px;
}

h1 {
  font-family: "Big Noodle Too";
  letter-spacing: 2px;
}

h1.left {
  color: white;
}

h1.right {
  color: black;
}

p {
    font-size: 30px;
		color: black;
}

div.left {
    display: block;
    text-align: left;
    margin-left: 80px;
		margin-right: 50px;
    background: #FA9C1D;
    padding: 2px 50px;
    transition-duration: .3s;
}

div.right {
    display: block;
    text-align: right;
    margin-right: 80px;
		margin-left: 50px;
    background: white;
    padding:  2px 50px;
    transition-duration: .3s;
}

div.right:hover, div.left:hover {
    padding: 10px 200px;
}

.navBar {
  list-style-type: none;
  margin: 0;
	top: 0;
	position: fixed;
	width: 100%;
	left: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333
}

li.barItem {
	float: left;
}

a.barItem {
	display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
	font-size: 20px;
	transition-duration: .2s;
}

.barItemActive {
  background-color: #FA9C1D;
}

a.barItem:hover {
  background-color: #FA9C1D;
	font-size: 22px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
	margin-top: 0px;
}
